body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: 0.3s;
    font-size: 14px;
}

.alto-contraste {
    background-color: black;
    color: white;
}

button {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}
